<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cat.omnium.sumupoc">

    <queries>
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="vnd.android.cursor.dir/email_v2" />
        </intent>
    </queries>
</manifest>
